* {
  font-family: 'Roboto', sans-serif;
}

.container {
  max-width: 880px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: space-around;
}

.flip-card {
  margin: 10px;
  background-color: transparent;
  width: 200px;
  height: 200px;
  perspective: 1000px;
  cursor: pointer;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  text-align: center;
}

.flip-card.flipped .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-back {
  background-color: #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flip-card-front {
  transform: rotateY(180deg);
}

.bg-red {
  background-color: red;
}

.bg-green {
  background-color: green;
}

.bg-blue {
  background-color: blue;
}

.bg-gray {
  background-color: gray;
}

.bg-purple {
  background-color: purple;
}

.bg-yellow {
  background-color: yellow;
}

.bg-pink {
  background-color: pink;
}

.bg-teal {
  background-color: teal;
}

.fireworks-container {
  background: transparent;
  position: absolute;
  top: 0;
  opacity: .65;
  left: 0;
  z-index: -1;
}